@font-face {
  font-family: 'Feronia';
  src: url('font/feronia/feronia.ttf');
}

body {
  background-color: #000;
  color: #fff;
  /*font-family: 'Feronia', 'Tangerine';*/
  /*src: url('font/feronia/Feronia.ttf') */
}

#main-page {
  display: none;
  position: absolute;
  width: calc(100% - 250px);
  right:0;
}

#initial-overlay {
  position: fixed;
  text-align: center;
  font-family: 'Montserrat', 'Tangerine';
  /*vertical-align: middle;*/
  background-color: #000;
  height: 100%;
  width: 100%;
  padding-top: 15%;
  z-index: 1000;
}

#edupont-overlay {
  font-size: 72px;
}

#photography-overlay {
  font-size: 24px;
}

/* Gradient color1 - color2 - color1 */

hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.col-sm-4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*h1 {
  font-family: 'Feronia', 'Tangerine';
}*/
